# Tuple and List

## Tuple
tuple is immutable

In [7]:
type(('johnny',))

tuple

陷阱: 少一個, 則是字串

In [4]:
type(('johnny'))

str

In [8]:
name_list = ['johnny', 'marry', 'eric']
type(tuple(name_list))

tuple

#### unpacking 拆包

In [10]:
name_list = ('johnny', 'marry', 'eric')
a, b, c = name_list
print(a, b, c)

johnny marry eric

In [11]:
# 對調
a, c = c, a
print(a, b, c)

eric marry johnny

### Add 相加
`+`

In [12]:
('johnny',) + ('marry', 'eric')

('johnny', 'marry', 'eric')

### repeat 重複
`*`

In [13]:
('johnny',) * 3

('johnny', 'johnny', 'johnny')

----------------

## List
tuple is mutable  
字串 split() 拆成list

In [18]:
print(type([]))
print(type(list(('johnny',))))

<class 'list'>
<class 'list'>

### List offset

In [29]:
name_list = ['johnny', 'marry', 'eric']
name_list[0]

'johnny'

In [33]:
# offset負值是從結尾往回算
print( name_list[-1], name_list[-2], name_list[-3])

eric marry johnny

In [32]:
# offset 必須是有效的，超出會 IndexError
name_list[4]

IndexError: list index out of range

### slice

In [35]:
name_list[::-1]

['eric', 'marry', 'johnny']

#### slice 改變項目

In [49]:
numbers = [1, 2, 3, 4]
numbers[1:3] = [8,9]
numbers

[1, 8, 9, 4]

In [48]:
# 指派項目不一定要相等數量
numbers = [1, 2, 3, 4]
numbers[1:3] = [8,9,10,11]
numbers

[1, 8, 9, 10, 11, 4]

In [50]:
# 甚至不一定是list，任何可迭代物都可以
numbers = [1, 2, 3, 4]
numbers[1:3] = 'what?'
numbers

[1, 'w', 'h', 'a', 't', '?', 4]

### 尾端加入項目 append(value)

In [37]:
names = ['johnny', 'marry', 'eric']
names.append('max')
names

['johnny', 'marry', 'eric', 'max']

### 插入 insert(offset, value)

In [40]:
names = ['johnny', 'marry', 'eric']
names.insert(0,'max')
names

['max', 'johnny', 'marry', 'eric']

In [41]:
names.insert(2,'test')
names

['max', 'johnny', 'test', 'marry', 'eric']

In [43]:
# 超過等於append
names.insert(100,'sam')
names

['max', 'johnny', 'test', 'marry', 'eric', 'sam', 'sam']

### Add 相加
`+`, `+=`  
`extend()`

In [44]:
names = ['johnny', 'marry', 'eric']
others = ['sam', 'kari']
names.extend(others)
names

['johnny', 'marry', 'eric', 'sam', 'kari']

In [45]:
names = ['johnny', 'marry', 'eric']
others = ['sam', 'kari']
names += others
names

['johnny', 'marry', 'eric', 'sam', 'kari']

### 刪除確定offset項目  del

In [52]:
names = ['johnny', 'marry', 'eric']
del names[-2]
names

['johnny', 'eric']

### 刪除確定值的項目  remove(value)
它只會刪除第一個找到的項目

In [55]:
names = ['johnny', 'marry', 'eric', 'johnny']
names.remove('johnny')
names

['marry', 'eric', 'johnny']

### 取出並刪除項目 pop(offset = -1)

In [61]:
names = ['johnny', 'marry', 'eric']
pop_name = names.pop()
print(pop_name, names)

eric ['johnny', 'marry']

In [62]:
names = ['johnny', 'marry', 'eric']
pop_name = names.pop(-2)
print(pop_name, names)

marry ['johnny', 'eric']

### 刪除全部  clear()

In [65]:
names = ['johnny', 'marry', 'eric']
names.clear()
names

[]

### 修改項目  [offset]

In [63]:
names = ['johnny', 'marry', 'eric']
names[1] = 'max'
names

['johnny', 'max', 'eric']

### 搜尋項目索引 index()

In [68]:
names = ['johnny', 'marry', 'eric']
names.index('marry')

1

### 計算出現次數 count()

In [69]:
names = ['johnny', 'marry', 'eric', 'johnny']
names.count('johnny')

2

### 取得長度 `len()`

In [74]:
names = ['johnny', 'marry', 'eric', 'johnny']
len(names)

4

### 排序
`sort()`  回傳本身  
`sorted()`  回傳複本

In [71]:
names = ['johnny', 'marry', 'eric', 'johnny']
names.sort()
names

['eric', 'johnny', 'johnny', 'marry']

In [73]:
names = ['johnny', 'marry', 'eric', 'johnny']
names_copy = sorted(names, reverse=True)
print(names)
print(names_copy)

['johnny', 'marry', 'eric', 'johnny']
['marry', 'johnny', 'johnny', 'eric']

### 複製 `copy()`, `list()`, `slice()`

In [76]:
names = ['johnny', 'marry', 'eric']
# 下列三種方法都是淺層copy
a = names.copy()
b = list(names)
c = names[:]
print(id(names), id(a), id(b), id(c))

4336133376 4353725824 4336164032 4353694144

### 淺複製、深複製

In [79]:
# 淺複製
a = [1, 2, [3, 4]]
b = a.copy()
a[0] = None
a[2][0] = 'x'
# mutable copy 值都一起變動
print(a, b)

[None, 2, ['x', 4]] [1, 2, ['x', 4]]

In [80]:
# 深複製
import copy
a = [1, 2, [3, 4]]
b = copy.deepcopy(a)
a[0] = None
a[2][0] = 'x'
# 值都是各自獨立
print(a, b)

[None, 2, ['x', 4]] [1, 2, [3, 4]]

### 迭代多個序列  `zip`

In [81]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'organge', 'peach']
drinks = ['coffee', 'tea', 'beer', 'no use']

for day, fruit, drink in zip(days, fruits, drinks):
    print(f'day: {day}, fruit: {fruit}, drink: {drink}')

day: Monday, fruit: banana, drink: coffee
day: Tuesday, fruit: organge, drink: tea
day: Wednesday, fruit: peach, drink: beer

In [82]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'

list(zip(english, french))

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

In [83]:
# 小型字典
dict(zip(english, french))

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}